*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.mask{
  background: black;
opacity: 0;
position: absolute;
display: block;
width: 100%;
height: 100%;
z-index: 0;
}
body, html{
 width: 100%;
  height: 100%;
  overflow: auto;
}

#cssEditor{
  overflow: hidden;
  height: 50%;
}

#htmlEditor{
  height: 50%;
  overflow: hidden;
}

.color{
  background-color: #FAFAFA;
  width: 0px;
  height: 0px;
  border-radius: 3px;
  border: 1px solid #CDCDCD;
  box-shadow: 0px 1px 1px #FFF;
  left: 0px;
  top: 0px;
  outline: none;
  position: absolute;
  z-index: 4000;

}


#asideDivider{
  height: 4px;
  background-color: #FAFAFA;
  cursor: ns-resize;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.file-tool{
  background-color: white;
  height: 36px;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  width: 300;
  display: flex;
  padding: 4px;
  margin-right: 10px;
}

.share-tools{
  width: 450px !important;
}

.file-tool button{
    border-radius: 4px;
    border: none;
    background-color: #0088CC;
    color: white;
    padding: 0px 16px;
    outline: none;
    cursor: pointer;
    margin-left: 5px;
}

.file-tool button:hover{
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 0.1) 100%);
	transition: background 0.4s;
}

.file-tool button:active{
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0.1) 100%);

}


.file-tool  button#save{
  background-color: #86B526;
}

.file-tool  button#shareUI{
  background-color: #0088CC;
}

.file-tool  button#shareUI:before, .file-tool  button#shareCode:before{
	font-family: FontAwesome;
	margin-right: 7px;
	content: "\f064" !important;
}

.file-tool  button#shareCode{
  background-color: #E33258;
}


.file-tool  button#load{
	background-color: #0088CC;
}

.file-tool button#load:before{
	font-family: FontAwesome;
	margin-right: 7px;
	content: "\f16b" !important;
}

.file-tool button#save:before{
	font-family: FontAwesome;
	margin-right: 7px;
	content: "\f16b" !important;
}


.file-tool input[type="text"]{
  border: none;
  flex-grow: 1;
  padding-left: 10px;
  outline: none;
}

.logo{
  font-size: 28px;
  color: #0088CC;
  padding: 0px 20px;
}

.logo i{
	font-style: normal;
	color: yellowgreen;
}

#liveCk{
  display: none;
}

.liveLb{
  margin-left: 20px;
}


#liveCk:checked + .liveLb{
  color: #86B526;
}

#liveCk:checked + .liveLb:before{
  content: "\f192" !important;

}

.liveLb:before{
  font-family: FontAwesome;
  margin-right: 7px;
  content: "\f10c" !important;
}

nav{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  background-color: #FAFAFA;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  flex-grow: 0;
  box-shadow: inset 0px -1px 1px #E0E0E0;
      z-index: 100;
      padding-right: 20px;
}

.app{
  display: flex;
  flex-direction:column;
  height: 100%;
}



main{
  display: flex;
  flex-grow: 1;
      height: 100%;
}

#asideCk{
	display: none;
}

#asideCk:checked + aside{
	width: 25px;
}

.CodeMirror{
  height: 100% !important;
}

#aside{
  height: 100%;
  width: 600px;
  margin-top: -54px;
padding-top: 54px;
}



#asideLb{
 background-color: red;
  width: 4px;
}


#logLb{
  display: inline-block;
  width: 36px;
  height: 16px;
  position: relative;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  background-color: grey;
  box-shadow: inset 0px 0px 2px 2px #757d9e;
}

#filler{
  flex-grow: 1;
}

#logLb:before{
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 2px 1px white, inset 0px -2px 1px #dedede;
  left: 0px;
}

#logCk{
 display: none;
}

#logCk:checked + #logLb{
 background-color: #0088CC;
}

#logCk:checked + #logLb:before{
 right: 0px;
 left: auto;
}

#asideRz{
 width: 4px;
  background-color: #FAFAFA;
  cursor: ew-resize;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}

section{
  display: flex;
  flex-direction: column;
  background-color: #eee;
  flex-grow: 1;
}

.target{
 flex-grow: 1;
  position: relative;
}

#iframe{
  display: block;
  position: absolute;
  border: none;
  background-color: white;
}

#logRz{
  height: 4px;
  background-color: #aaa;
  cursor: ns-resize;
  border-top: 1px solid #222;
}

#log{
  overflow: auto;
  padding: 10px;
 height: 150px;
  background-color: rgba(0,0,0,1);
  color: white;
  font-family: monospace;
  line-height: 20px;
}
